@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #18181b;
    --background2: #e5e5e5;
    --background: #fafafa;
    --primary: #dc2626;
    --secondary: #a8a29e;
    --accent: #fca5a5;
    /* --accent: #981b1b; */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #fafafa;
      --background: #18181b;
      --background2: #27272a;
      --primary: #dc2626;
      --secondary: #d4d4d8;
      --accent: #fca5a5;
    }
  }
}

body {
  color: var(--text);
  background: var(--background2);
}

* {
  box-sizing: border-box;
}
